.row {
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-left: -($gutter/2);
    margin-right: -($gutter/2);
    
    @include clearfix;
}


%columns {
    position: relative;
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    box-sizing: border-box;
    width: 100%;
}